<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfplatepoha.frnds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FrndsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="73c1a606b8ec6031c5b79954bcc0ca282bc666aa"
            />

        <activity android:name=".search.activity.SearchScreenActivity"
            android:parentActivityName=".detail.activity.SongDetailActivity"/>

        <activity android:name=".detail.activity.SongDetailActivity"
            android:parentActivityName=".home.activity.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="chat_detail_filter"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".login.activity.LoginActivity" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <service android:name=".fcm.service.DeviceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.service.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".home.activity.HomeActivity"
            android:launchMode="singleTop"/>

        <service android:name=".mediaplayer.PlayerService" />

        <activity android:name=".home.activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.ProfileAndSettingsActivity" />
        <activity android:name=".login.activity.IntroActivity"/>
    </application>

</manifest>